html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    font-family: Inter;
    font-weight: 400;
    font-size: 0.875rem;
    background: #1C1C1C;
}

header,main {
    max-width: 600px;
    margin: 0 auto;
}

header {
    background-image: url(/images/andre-tan-THJJRUhNlEc-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center 25%;
    background-size: cover;
    background-color: rgba(0, 0, 0, .75);
    background-blend-mode: darken;
    color: #fff;
    padding: 5.15rem 2.625rem 4.875rem;
    min-height: 145.5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: Inter;
    font-weight: 800;
    font-size: 2.67rem;
    line-height: 24px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
}

.search-form {
    transform: translate(0, -50%);
    z-index: 500;
    display: grid;
    grid-template-columns: auto max-content;
}

.search-form input {
    position: relative;
    font-family: Inter;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 0.5625rem 2.5625rem;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px 0 0 6px;
}

.search-form input::placeholder {
    color: #6B7280;
}

.search-icon {
    max-width: 1rem;
    fill: #9CA3AF;
    position: absolute;
    z-index: 10;
    top: 11px;
    left: 15px;
}

.search-form button {
    color: #374151;
    background: #F9FAFB;
    border: 1px solid #D1D5DB;
    border-radius: 0px 6px 6px 0px;
    padding: 0.5625rem 2.15625rem 0.5625rem 2.40625rem;
    font-family: inherit;
    font-weight: 500;
    font-size: 0.875rem;
}

.search-form button:hover{
    background: #DFDDDD;
}

main {
    position: relative;
    background: #fff;
    min-height: calc(100vh - 11.5rem);
    padding: 0 2.6875rem;
}

.no-search, 
.search-results-not-found,
.empty-watchlist {
    height: calc(100vh - 14.7rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #DFDDDD;
    font-size: 1.125rem;
    font-weight: 700;
    position: absolute;
    padding: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-search {
    background-image: url(/icons/movie-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.no-search span {
    margin-top: 6rem;
}

.no-search img {
    max-width: 4.375rem;
}

.search-results-found{
    padding-top: 1.56rem;
}

.search-results-not-found span{
    max-width: 25ch;
}

.watchlist-movies-found{
    padding-top: 2.1875rem;
}

.film-poster {
    max-width: 6.25rem;
    object-fit: contain;
    margin-right: 1.3125rem;
}

.search-result{
    display: flex;
    flex-direction: row;
    padding-bottom: 1.2875rem;
}

.search-result + .search-result {
    border-top: 1.5px solid #E5E7EB;
    padding-top: 1.2875rem;
}

.film-title {
    margin: 0.94rem 0 0.69rem;
}

 h3 {
    display: inline;
    font-weight: 500;
    font-size: 1.125rem;
}

.film-rating {
    color: #111827;
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 0.25rem;
}

.film-info {
    color: #111827;
    font-weight: 400;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.film-info > * {
    margin-right: 1rem;
}

.addToWatchlist {
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: .48rem;
}

.empty-watchlist button {
    margin-top: 1rem;
    color: #363636;
    font-family: Inter;
    font-weight: 700;
    font-size: 14px;
}

.addToWatchlist img{
    margin-right: 0.32rem;
}

.film-plot {
    margin-top: 0.7rem;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.hidden{
    display: none;
}